body {
  width: 1600px;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.conteiner {
  width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: #222222;
  min-height: 75px;
}
.header .conteiner .header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
.header .conteiner .header__nav .header__left {
  display: flex;
  gap: 41px;
  align-items: center;
}
.header .conteiner .header__nav .header__right {
  display: flex;
  gap: 30px;
  align-items: center;
}
.header .conteiner .header__nav .header__right nav {
  filter: drop-shadow(6px 4px 35px rgba(0, 0, 0, 0.21));
  position: absolute;
  display: none;
}
.header .conteiner .header__nav .header__right nav ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 37px;
  padding-left: 34px;
  box-sizing: border-box;
  position: relative;
  width: 232px;
  height: 764px;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  top: 24px;
  left: 151px;
}
.header .conteiner .header__nav .header__right nav ul li .menu__section {
  display: block;
  padding-top: 8px;
  color: #F16D7F;
  font-size: 14px;
  font-weight: 400;
}
.header .conteiner .header__nav .header__right nav ul li .menu__list {
  padding-left: 22px;
}
.header .conteiner .header__nav .header__right nav ul li a {
  color: #6F6E6E;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
.header .conteiner .header__nav .header__right .header__menu:hover nav {
  display: block;
}

.brand {
  display: flex;
  background-color: #F1E4E6;
  align-items: center;
}
.brand .brand__title {
  color: #222;
  font-size: 48px;
  font-weight: 900;
  flex-grow: 1;
  width: 377px;
}
.brand .brand__title .brand__title-1 {
  color: #222;
  font-size: 32px;
  font-weight: 700;
}
.brand .brand__title .brand__title-2 {
  color: #F16D7F;
  font-size: 32px;
  font-weight: 700;
}

.trands {
  padding: 65px 0 96px 0;
}
.trands .trands__title {
  display: none;
}
.trands .trands__navigation .trands__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.trands .trands__navigation .trands__list .trand-1 {
  position: relative;
  width: 360px;
  height: 260px;
}
.trands .trands__navigation .trands__list .trand-1 .trands__link-1 {
  position: relative;
}
.trands .trands__navigation .trands__list .trand-1 .trands__link-1 .trands__title-1 {
  position: absolute;
  z-index: 1;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  width: 154px;
  margin: 0;
  top: 105px;
  left: 103px;
}
.trands .trands__navigation .trands__list .trand-1 .trands__link-1 .trands__title-1 .trands__span-1 {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
}
.trands .trands__navigation .trands__list .trand-1 .trands__link-1 .trand__img-1 {
  position: absolute;
}
.trands .trands__navigation .trands__list .trand-1 .trands__link-1 .trands__background-1 {
  position: absolute;
}
.trands .trands__navigation .trands__list .trand-2 {
  position: relative;
  width: 360px;
  height: 260px;
}
.trands .trands__navigation .trands__list .trand-2 .trands__link-2 {
  position: relative;
}
.trands .trands__navigation .trands__list .trand-2 .trands__link-2 .trands__title-2 {
  position: absolute;
  z-index: 1;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  width: 110px;
  margin: 0;
  top: 105px;
  left: 125px;
}
.trands .trands__navigation .trands__list .trand-2 .trands__link-2 .trands__title-2 .trands__span-2 {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
}
.trands .trands__navigation .trands__list .trand-2 .trands__link-2 .trand__img-2 {
  position: absolute;
}
.trands .trands__navigation .trands__list .trand-2 .trands__link-2 .trands__background-2 {
  position: absolute;
}
.trands .trands__navigation .trands__list .trand-3 {
  position: relative;
  width: 360px;
  height: 260px;
}
.trands .trands__navigation .trands__list .trand-3 .trands__link-3 {
  position: relative;
}
.trands .trands__navigation .trands__list .trand-3 .trands__link-3 .trands__title-3 {
  position: absolute;
  z-index: 1;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  width: 115px;
  margin: 0;
  top: 105px;
  left: 123px;
}
.trands .trands__navigation .trands__list .trand-3 .trands__link-3 .trands__title-3 .trands__span-3 {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
}
.trands .trands__navigation .trands__list .trand-3 .trands__link-3 .trand__img-3 {
  position: absolute;
}
.trands .trands__navigation .trands__list .trand-3 .trands__link-3 .trands__background-3 {
  position: absolute;
}
.trands .trands__navigation .trands__list .trand-4 {
  position: relative;
  width: 1140px;
  height: 180px;
}
.trands .trands__navigation .trands__list .trand-4 .trands__link-4 {
  position: relative;
}
.trands .trands__navigation .trands__list .trand-4 .trands__link-4 .trands__title-4 {
  position: absolute;
  z-index: 1;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  width: 160px;
  top: 65px;
  left: 490px;
  margin: 0px;
}
.trands .trands__navigation .trands__list .trand-4 .trands__link-4 .trands__title-4 .trands__span-4 {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
}
.trands .trands__navigation .trands__list .trand-4 .trands__link-4 .trand__img-4 {
  position: absolute;
}
.trands .trands__navigation .trands__list .trand-4 .trands__link-4 .trands__background-4 {
  position: absolute;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding-bottom: 95px;
}

.items__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}

.items__title-main {
  color: #222;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

.items__title-text {
  color: #9F9F9F;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.items__carts {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.catalog__cart {
  width: 360px;
  height: 581px;
  background-color: #F8F8F8;
}

.cart__img-wrapper-1,
.cart__img-wrapper-2,
.cart__img-wrapper-3,
.cart__img-wrapper-4,
.cart__img-wrapper-5,
.cart__img-wrapper-6 {
  width: 360px;
  height: 420px;
  position: relative;
}

.cart__img-1,
.cart__img-2,
.cart__img-3,
.cart__img-4,
.cart__img-5,
.cart__img-6 {
  position: absolute;
  width: 360px;
  height: 420px;
}

.cart__img-1-hover,
.cart__img-2-hover,
.cart__img-3-hover,
.cart__img-4-hover,
.cart__img-5-hover,
.cart__img-6-hover {
  position: absolute;
  background-color: rgba(58, 56, 56, 0.86);
  width: 360px;
  height: 420px;
  z-index: 2;
  display: none;
}

.items__cart1:hover .cart__img-1-hover,
.items__cart2:hover .cart__img-2-hover,
.items__cart3:hover .cart__img-3-hover,
.items__cart4:hover .cart__img-4-hover,
.items__cart5:hover .cart__img-5-hover,
.items__cart6:hover .cart__img-6-hover {
  display: block;
}

.cart__basket-1,
.cart__basket-2,
.cart__basket-3,
.cart__basket-4,
.cart__basket-5,
.cart__basket-6 {
  margin: 188px 110px;
  display: flex;
  gap: 11px;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 139px;
  box-sizing: border-box;
  text-decoration: none;
  border: 1px solid #ffffff;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
}

.cart__title {
  margin: 0;
  padding: 24px 0 0 16px;
  color: #000;
  font-size: 13px;
  font-weight: 400;
}

.cart__text {
  padding: 12px 0 0 16px;
  color: #5D5D5D;
  font-size: 14px;
  font-weight: 300;
}

.cart__cost {
  padding: 18px 0 0 16px;
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
}

.items__button-link {
  color: #F26376;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 39px;
  border: 1px solid #FF6A6A;
  text-decoration: none;
}

.items__button-link:hover {
  color: #FFF;
  background-color: #F16D7F;
  border: none;
}

.feature {
  background-color: #222224;
  height: 341px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature__title {
  display: none;
}

.delivery,
.sales,
.quality {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
}

.delivery__img {
  padding-bottom: 29px;
}

.sales__img {
  padding-bottom: 19px;
}

.quality__img {
  padding-bottom: 26px;
}

.dilivery__title,
.sales__title,
.quality__title {
  padding-bottom: 16px;
  color: #FBFBFB;
  font-family: Lato;
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.delivery__text,
.sales__text,
.quality__text {
  color: #FBFBFB;
  text-align: center;
  font-family: Lato;
  font-size: 13.972px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  opacity: 0.5;
}

.footer {
  position: relative;
}
.footer .footer__info {
  height: 448px;
  align-items: center;
}
.footer .footer__info .footer__info-background {
  position: absolute;
  z-index: -1;
  opacity: 0.5;
}
.footer .footer__info .conteiner .footer__info-wrapper {
  padding-top: 97px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 100px;
  box-sizing: border-box;
}
.footer .footer__info .conteiner .footer__info-wrapper .owner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
}
.footer .footer__info .conteiner .footer__info-wrapper .owner .owner__text {
  color: #222224;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
.footer .footer__info .conteiner .footer__info-wrapper .owner .owner__text .owner__text-span {
  color: #222224;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
}
.footer .footer__info .conteiner .footer__info-wrapper .subscribe .subscribe__text {
  color: #222224;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 167.2%;
}
.footer .footer__info .conteiner .footer__info-wrapper .subscribe .subscribe__text .subscribe__text-span {
  color: #222224;
  font-size: 18px;
  font-weight: 400;
  line-height: 167.2%;
}
.footer .footer__info .conteiner .footer__info-wrapper .subscribe .email__area {
  display: flex;
}
.footer .footer__info .conteiner .footer__info-wrapper .subscribe .email__area .subscribe__input {
  border-top-left-radius: 50px 100px;
  border-bottom-left-radius: 50px 100px;
  border: none;
  background-color: rgb(225, 225, 225);
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  min-width: 256px;
  min-height: 49px;
  box-sizing: border-box;
  padding-left: 22px;
}
.footer .footer__info .conteiner .footer__info-wrapper .subscribe .email__area .subscribe__button {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  width: 100px;
  height: 49px;
  flex-shrink: 0;
  border: none;
  background-color: rgb(241, 109, 127);
  border-radius: 0 25px 25px 0;
}
.footer .footer__info .conteiner .footer__info-wrapper .subscribe .email__area .subscribe__button:hover {
  background-color: #E05C6E;
}
.footer .footer__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222222;
  min-height: 79px;
}
.footer .footer__main-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .copyright {
  color: #FBFBFB;
  font-size: 16px;
  font-weight: 400;
}
.footer .socials {
  display: flex;
  gap: 7px;
}
.footer .facebook__link,
.footer .instagram__link,
.footer .pinterest__link,
.footer .twitter__link {
  display: block;
  width: 32px;
  height: 32px;
  background-color: #fff;
  position: relative;
}
.footer .facebook__link:hover,
.footer .instagram__link:hover,
.footer .pinterest__link:hover,
.footer .twitter__link:hover {
  background-color: #F16D7F;
}
.footer .facebook__link:hover .facebook__img,
.footer .instagram__link:hover .instagram__img,
.footer .pinterest__link:hover .pinterest__img,
.footer .twitter__link:hover .twitter__img {
  fill: white;
}
.footer .facebook__img,
.footer .instagram__img,
.footer .pinterest__img,
.footer .twitter__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: black;
}/*# sourceMappingURL=style.css.map */