body {
    width: 1600px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.conteiner {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: #222222;
    min-height: 75px;

}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.header__left {
    display: flex;
    gap: 41px;
    align-items: center;
}

.header__right {
    display: flex;
    gap: 30px;
    align-items: center;
}

.main {}

.brand {
    display: flex;
    background-color: #F1E4E6;
    align-items: center;
}

.brand__img {}

.brand__title {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    flex-grow: 1;
    width: 377px;

}

.brand__title-1 {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.brand__title-2 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.trands {
    padding: 65px 0 96px 0;
}

.trands__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}


.trand-1 {
    position: relative;
    width: 360px;
    height: 260px;
}

.trands__link-1 {
    position: relative;
}

.trands__title-1 {
    position: absolute;
    z-index: 1;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 154px;
    margin: 0;
    top: 105px;
    left: 103px;
}

.trands__span-1 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.trand__img-1 {
    position: absolute;
}

.trands__background-1 {
    position: absolute;
}

.trand-2 {
    position: relative;
    width: 360px;
    height: 260px;
}

.trands__link-2 {
    position: relative;
}

.trands__title-2 {
    position: absolute;
    z-index: 1;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 110px;
    margin: 0;
    top: 105px;
    left: 125px;
}

.trands__span-2 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.trand__img-2 {
    position: absolute;
}

.trands__background-2 {
    position: absolute;
}

.trand-3 {
    position: relative;
    width: 360px;
    height: 260px;
}

.trands__link-3 {
    position: relative;
}

.trands__title-3 {
    position: absolute;
    z-index: 1;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 115px;
    margin: 0;
    top: 105px;
    left: 123px;
}

.trands__span-3 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.trand__img-3 {
    position: absolute;
}

.trands__background-3 {
    position: absolute;
}

.trand-4 {
    position: relative;
    width: 1140px;
    height: 180px;
}

.trands__link-4 {
    position: relative;
}

.trands__title-4 {
    position: absolute;
    z-index: 1;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 160px;
    top: 65px;
    left: 490px;
    margin: 0px;
}

.trands__span-4 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.trand__img-4 {
    position: absolute;
}

.trands__background-4 {
    position: absolute;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-bottom: 95px;
}

.items__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;

}

.items__title-main {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.items__title-text {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.items__carts {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.catalog__cart {
    width: 360px;
    height: 581px;
    background-color: #F8F8F8;
}

.cart__img-wrapper-1 {
    width: 360px;
    height: 420px;
    position: relative;
}

.cart__img-1 {
    position: absolute;
}

.cart__img-1:hover {
    display: none;
}

.cart__img-1-hover .cart__title {
    padding: 24px 0 0 16px;
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cart__text {
    padding: 12px 0 0 16px;
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.cart__cost {
    padding: 18px 0 0 16px;
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.items__button-link {
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 39px;
    border: 1px solid #FF6A6A;
    text-decoration: none;
}

.items__button-link:hover {
    color: #FFF;
    background-color: #F16D7F;
    border: none;
}

.feature {
    background-color: #222224;
    height: 341px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delivery,
.sales,
.quality {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
}

.delivery__img {
    padding-bottom: 29px;
}

.sales__img {
    padding-bottom: 19px;
}

.quality__img {
    padding-bottom: 26px;
}

.dilivery__title,
.sales__title,
.quality__title {
    padding-bottom: 16px;
    color: #FBFBFB;
    font-family: Lato;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.delivery__text,
.sales__text,
.quality__text {
    color: #FBFBFB;
    text-align: center;
    font-family: Lato;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    opacity: 0.5;
}

.footer {
    position: relative;
}

.footer__info-background {
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}

.footer__info {
    height: 448px;

    align-items: center;

}

.footer__info-wrapper {
    padding-top: 97px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
    box-sizing: border-box;

}

.owner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
}

.owner__text {
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.owner__text-span {
    color: #222224;
    font-family: Lato;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}



.subscribe__text {
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
    /* 40.128px */
}

.subscribe__text-span {
    color: #222224;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
}

.email__area {
    display: flex;
}

.subscribe__input {
    border-top-left-radius: 50px 100px;
    border-bottom-left-radius: 50px 100px;
    border: none;
    background-color: rgba(225, 225, 225, 1);
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    min-width: 256px;
    min-height: 49px;
    box-sizing: border-box;
    padding-left: 22px;
}

.subscribe__button {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100px;
    height: 49px;
    flex-shrink: 0;
    border: none;
    background-color: rgba(241, 109, 127, 1);
    border-radius: 0 25px 25px 0;
}

.footer__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    min-height: 79px;

}

.footer__main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    color: #FBFBFB;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.socials {
    display: flex;
    gap: 7px;
}

.facebook__img:hover,
.instagram__img:hover,
.pinterest__img:hover,
.twitter__img:hover {
    fill: white;
    stroke: white;
    background-color: #F16D7F;
}