.header {

    background-color: #222222;
    min-height: 75px;

    .conteiner {
        .header__nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 75px;

            .header__left {
                display: flex;
                gap: 41px;
                align-items: center;
            }

            .header__right {
                display: flex;
                gap: 30px;
                align-items: center;

                nav {
                    filter: drop-shadow(6px 4px 35px rgba(0, 0, 0, 0.21));
                    position: absolute;
                    display: none;

                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        padding-top: 37px;
                        padding-left: 34px;
                        box-sizing: border-box;
                        position: relative;
                        width: 232px;
                        height: 764px;
                        background-color: #fff;
                        color: #000;
                        font-size: 14px;
                        font-weight: 700;
                        top: 24px;
                        left: 151px;

                        li {

                            .menu__section {
                                display: block;
                                padding-top: 8px;
                                color: #F16D7F;
                                font-size: 14px;
                                font-weight: 400;
                            }

                            .menu__list {
                                padding-left: 22px;
                            }

                            a {
                                color: #6F6E6E;
                                font-size: 14px;
                                font-weight: 400;
                                text-decoration: none;
                            }
                        }
                    }
                }

                .header__menu:hover {
                    nav {
                        display: block;
                    }

                }
            }
        }
    }
}